.CodeMirror {
	width:  400px;
	background-color: #eeeeee;
	margin: 10px;	
}

#player {
	position: absolute;
	top: 0px;
	left: 410px;
	width: 320px;
	height: 480px;
	background-color: #eeeeee;
	margin: 10px;
}
