body {
	margin: 0px;
	padding-top: 40px;
	height: 100%;
	overflow: hidden;
}

.CodeMirror {
	height: auto;
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	margin: 10px;	
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#player {
	position: absolute;
	top: 0px;
	left: 410px;
	width: 320px;
	height: 480px;
	background-color: #eeeeee;
	margin: 10px;
}
.topbar {
	display: block;
	left: 0;
	top: 0;
	right: 0;
	position: fixed;
	background-color: #F33;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	z-index: 100;
	height: 20px;
	color: white;
	padding: 5px;
	border-bottom: 1px solid #c00;
}
.thinglist {
	display: block;
	overflow: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	bottom: -16px;
	top: 240px;
	right: 340px;
}
.thing {
	display: block;
	margin: 10px;
}

.player {
	position: absolute;
	top: 30px;
	bottom: 0px;
	right: 0px;
	z-index: 100;
	background-color: #F33;
	overflow: auto;
	display: block;
	width: 340px;
}
.player .player-canvas {
	width: 320px;
	height: 480px;
	background-color: white;
	display: block;
	margin: auto;
	box-shadow: 0px 0px 10px black;
}