<topbar class="topbar"></topbar>
<div id="content">
	<form ng-submit="loginUser()" ng-if="!session.user">
		Login: <input type="email" name="email" ng-model="loginForm.email" ng-disabled="isLoggingIn" placeholder="username">
		<input type="password" name="password" ng-model="loginForm.password" ng-disabled="isLoggingIn" placeholder="password">
		<button type="submit">{{i18n('editor.Login')}}</button>
	</form>
	<!--<div ng-show="isLoggingIn">Logging in...</div>
	<div ng-show="session.user">Logged in</div>-->
	
</div>