<div class="thingwrapper">
	<div ng-if="showSingleMethod">
		<strong>{{thing.name}}</strong>
		<ul><li><method class="method"></method></li></ul>
	</div>
	<div ng-if="!showSingleMethod">
		<strong>{{thing.name}}</strong>
		<ul><li ng-repeat="method in thing.methods"><method class="method"></method></li></ul>
	</div>
</div>

<!--
<div class="thingwrapper">
	<ul ng-repeat="thing in app.things">
		<li>
			<strong>{{thing.name}}</strong>
			<ul><li ng-repeat="method in thing.methods"><method class="method"></method></li></ul>
		</li>
	</ul>
</div>
-->