<div class="methodList">
	<div class="center">
	{{i18n('editor.Methods')}}<br/>
	{{thing.name}}
	<div class="separator"/>
	<div ng-repeat="method in thing.methods"><button ng-click="showMethod(method);">{{method.name}}</button></div>
	<div class="separator"/>
	<form ng-submit="addMethod()">
		<input type="text" ng-model="newMethodName" placeholder="{{i18n('editor.AddMethod')}}">
		<input type="submit" value="{{i18n('editor.Add')}}">
	</form>
	</div>
</div>

<!--<method class="method"/>-->

<div class="thingwrapper">
	<ul ng-repeat="thing in app.things">
		<li>
			<strong>{{thing.name}}</strong>
			<ul><li ng-repeat="method in thing.methods"><method class="method"></method></li></ul>
		</li>
	</ul>
</div>


<!--
<strong>{{thing.name}}</strong><br>
{{i18n('editor.RenameThing')}}: <input type="text" ng-model="thing.name" ng-disabled="thing.name == 'Main'">
<button ng-click="removeThing()" ng-disabled="thing.name == 'Main'">{{i18n('editor.RemoveThing')}}</button>
<form ng-submit="addMethod()" style="display: inline-block">
	<input type="text" ng-model="methodName" size="30" placeholder="{{i18n('editor.AddMethod')}}">
	<input class="btn-primary" type="submit" value="{{i18n('editor.Add')}}">
</form>
-->
