<!--<select ng-model="thing" ng-options="t.name for t in things"></select>-->


<!--<ul class="thinglist">
	<li ng-repeat="thing in things"><thing class="thing"></thing></li>
</ul>-->


<thing class="thing"></thing>

<div class="thingList">
	<div class="center">{{app.name}}</div>
	<div class="separator"/>
	<ul>
		<li ng-repeat="thing in app.things">
			<span>{{thing.name}}</span>
			<ul>
				<li ng-repeat="method in thing.methods"><span ng-click="showMethod(method)">{{method.name}}</span></li>
				<li>
					<form ng-submit="addMethod(this)">
						<input type="text" ng-model="newMethodName" placeholder="{{i18n('editor.AddMethod')}}">
					</form>
				</li>
			</ul>
		</li>
		<li>
			<form ng-submit="addThing()">
				<input type="text" ng-model="newThingName" placeholder="{{i18n('editor.AddThing')}}">
			</form>
		</li>
	</ul>
	
	
</div>

<!--<ul ng-repeat="thing in things" ng-controller="EditorCtrl.ThingCtrl">
	<li>
		{{ thing.name }}<br>
		<thing-editor></thing-editor>
	</li>
	
</ul>-->
<!--<textarea cols=80 rows=30>{{app.nativeCode}}</textarea>-->